// TODO: make this locale-specific
div(class="card-container")
  mat-card(class="large-card")
    mat-card-content
      ng-template([ngIf]="isAllowRegistration()")
        h3
          | Registration
        p
          | To register, select the #{__('Register')} tab and enter a username and password.
        p
          | Press #{__('Register')} and you'll be registered logged into your account.
        h4 Notice
        p
          | If you have entered an already existing username, you'll see an error and should use another username and password.
        h4 Warning
        p
          | Registration is simple, we don't ask your contact details or stupid questions like your favorite food :)
          | And so there's no way of recovering passwords!
        h4 Warning
        p
          | This may be a non-production deployment of Vogon and may be reset or closed by the site admin without notice.
          | Consider exporting your data frequently or contacting the website administrator to confirm your data won't be destroyed without notice.
      ng-template([ngIf]="!isAllowRegistration()")
        h3
          | Private deployment
        p
          | This is a private Vogon deployment with registration disabled. You can try a public deployment on
          =' '
          a(href="http://vogon-nj-demo.herokuapp.com") Heroku
          =' '
          | (may take a few minutes to load for the first time)
        h4 Warning
        p
          | The link above is provided as a demo only and is not guaranteed to keep running. You can create a private deployment of Vogon on Heroku, see the project page below.
  mat-card(class="large-card")
    mat-card-content
      h3
        | About Vogon
      p
        | Vogon is an open-source personal finance tracker.
      p
        | It runs on most cloud providers, even on free tiers.
      p
        | For more information, visit the project's
        =' '
        a(href="https://github.com/zlogic/vogon-nj") Github
        =' '
        | page.
      p
        | Developed by
        =' '
        a(href="https://plus.google.com/+DmitryZolotukhin")
          | Dmitry Zolotukhin
        | .
      p(class="text-center")
        img(src="images/vogon-logo-large.png", alt="Vogon logo")
