<form #transactionForm="ngForm" (ngSubmit)="submitEditing(transactionForm)" autocomplete="off" novalidate>
  <mat-card class="editor-card-transactions mat-elevation-z4">
    <mat-card-title i18n>Edit transaction</mat-card-title>
    <mat-card-content>
      <span class="form-row-wrap row-with-button">
        <div class="form-field-grow">
          <mat-form-field>
            <input matInput i18n-placeholder placeholder="Description" name="description" [(ngModel)]="transaction.description" required />
          </mat-form-field>
        </div>
        <span>&nbsp;</span>
        <div class="form-field-grow">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" i18n-placeholder placeholder="Date" name="date" [(ngModel)]="transaction.date" required />
            <mat-datepicker-toggle matSuffix type="button" [for]="picker"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </span>
      <tags-input i18n-placeholder placeholder="Tags" name="tags" class="tags-input-fullwidth" [ngModel]="transaction.tags"></tags-input>
      <p>
        <mat-button-toggle-group name="type" [(ngModel)]="transaction.type" required>
          <mat-button-toggle value="expenseincome"><span i18n>Expense/income</span></mat-button-toggle>
          <mat-button-toggle value="transfer"><span i18n>Transfer</span></mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <span *ngFor="let component of transaction.FinanceTransactionComponents; let i=index" class="row-with-button">
        <span class="form-field-grow form-row-wrap">
          <div class="form-field-grow">
            <mat-form-field>
              <mat-select i18n-placeholder placeholder="Account" [name]="'AccountId'+i" [(ngModel)]="component.AccountId" required>
                <mat-option *ngFor="let account of visibleAccounts" [value]="account.id">{{account.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <span>&nbsp;</span>
          <div class="form-field-grow">
            <mat-form-field>
              <input matInput type="text" class="amount-cell" i18n-placeholder placeholder="Amount" [name]="'amount'+i" [(ngModel)]="component.amount" required pattern="^-?\d+(\.\d+)?$" />
              <span matSuffix>&nbsp;{{getCurrency(component)}}</span>
            </mat-form-field>
          </div>
        </span>
        <button mat-icon-button type="button" (click)="deleteTransactionComponent(i)" class="row-button" i18n-aria-label aria-label="Delete">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="button" (click)="addTransactionComponent()" i18n>Add component</button>
      <button mat-button type="submit" [disabled]="!transactionForm.valid" i18n>Apply</button>
      <button mat-button type="button" (click)="cancelEditing()" i18n>Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>