/* Material design icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../js/material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../js/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
    url('../js/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
    url('../js/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  margin: 0;
}

.app-content {
  position: absolute;
  top: 64px;
  width: 100%;
}

/* TODO: remove this once https://github.com/angular/material2/issues/2124 is fixed */
.mat-select {
  padding-top: 5px;
}
/* End TODO */

button.my-fab { 
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 3;
}

.card-container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

.large-card {
  margin-right: 24px;
  margin-bottom: 24px;
  width: 400px;
}

.small-card {
  margin-right: 24px;
  margin-bottom: 24px;
  width: 300px;
}
