@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'vogon-material-theme.scss';

@include angular-material-theme($theme);
@include mat-core();

$top-toolbar-height: 64px;
$sidenav-content-background: mat-color(map-get($theme, "background"), "background");

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $sidenav-content-background;
}

html, body {
  margin: 0;
}

.app-main-toolbar {
  position: fixed;
  top: 0px;
  z-index: 2;
}

.app-sidenav-container {
  top: $top-toolbar-height;
  bottom: 0px;
}

.app-sidenav.mat-drawer {
  position: fixed;
  top: $top-toolbar-height;
  bottom: 0px;
}

a.mat-list-item.nav-selected {
  color: mat-color($accent);
}

button.my-fab {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 3;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

.large-card, .small-card, .giant-card {
  margin-right: 24px;
  margin-bottom: 24px;
}

.large-card {
  width: 420px;
}

.small-card {
  width: 300px;
}

.giant-card {
  width: 700px;
}

@media screen and (max-width: 750px) {
  transaction-editor, transaction-editor form {
    width: 100%;
    margin: 0px;
    display: flex;
  }
  .large-card, .small-card, .giant-card {
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 24px;
  }
}
