<div class="card-container">
  <mat-card class="large-card">
    <mat-card-content>
      <h3 i18n>Vogon authorization</h3>
      <p *ngIf="isAllowRegistration()">
        <mat-button-toggle-group [(ngModel)]="mode">
          <mat-button-toggle value="login"><span i18n>Login</span></mat-button-toggle>
          <mat-button-toggle value="register"><span i18n>Register</span></mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate="novalidate">
        <p>
          <mat-form-field><input matInput type="text" i18n-placeholder placeholder="Username" name="username" [(ngModel)]="username" required /></mat-form-field><span>&nbsp;</span>
          <mat-form-field><input matInput type="password" i18n-placeholder placeholder="Password" name="password" [(ngModel)]="password" required /></mat-form-field>
        </p>
        <p>
          <mat-checkbox checked="checked" name="rememberToken" [(ngModel)]="rememberToken" i18n>Remember me</mat-checkbox>
        </p>
        <p>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </p>
        <p>
            <button mat-raised-button type="submit" color="primary" *ngIf="modeIsLogin()" [disabled]="!loginForm.valid" i18n>Login</button>
            <button mat-raised-button type="submit" color="primary" *ngIf="modeIsRegister()" [disabled]="!loginForm.valid" i18n>Register</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>