.app-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.app-sidenav-container {
  flex: 1;
}

.is-small-screen .app-main-toolbar {
  position: fixed;
  z-index: 2;
}

.toolbar-spacer {
  width: 64px;
}

.progressbar-container {
  flex: 1 1 auto;
}
