// TODO: delete this, as registration is now configured via an environment variable
form(name="adminSettingsForm")
  div(class="panel panel-default")
    div(class="panel-body")
      p
        label(class="checkbox-inline")
          input(type="checkbox", ng-model="configuration['AllowRegistration']")
          | #{__('Allow registration')}
      p
        button(ng-click="cancelEditing()", class="btn btn-default", type="button")
          span(class="glyphicon glyphicon-remove", aria-hidden="true")
          | #{__('Cancel')}
        button(ng-click="submitEditing()", class="btn btn-primary", type="submit")
          span(class="glyphicon glyphicon-ok", aria-hidden="true")
          | #{__('Apply')}
