doctype html
html
  head
    title=__('Vogon finance tracker')
    unless STANDALONE
      link(rel='icon', type='image/png', href='images/vogon-favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  body
    vogon-app
      | #{__('Loading...')}
